<% provide(:title, 'Sign up') %>
<h2>Sign up</h2>

<div class="">
  <div class="">
	<%= form_for(@user) do |f| %>
		<%= render 'shared/form_errors', object: f.object %>
		<div>
			<%= f.label :first_name %><br />
			<%= f.text_field :first_name %>
		</div>
		<div>
			<%= f.label :last_name %><br />
			<%= f.text_field :last_name %>
		</div>
		<div>
			<%= f.label :email %><br />
			<%= f.email_field :email %>
		</div>
		<div>
			<%= f.label :password %><br />
			<%= f.password_field :password %>
		</div>
		<div>
			<%= f.label :password_confirmation, "Confirm Password" %><br />
			<%= f.password_field :password_confirmation %>
		</div>
		<div>
			<%= f.submit "Sign up", class: "blue" %>
		</div>
	<% end %>
  </div>
</div>