<div class="row">
	<div class="col w30">&nbsp;</div>
	<div class="col w40">
		<h2>Sign up</h2>
		<div class="block-form">
			<%= form_for(@api_user) do |f| %>
				<%= render 'shared/form_errors', object: f.object %>
				<div>
					<%= f.label :first_name %>
					<%= f.text_field :first_name %>
				</div>
				<div>
					<%= f.label :last_name %>
					<%= f.text_field :last_name %>
				</div>
				<div>
					<%= f.label :email %>
					<%= f.email_field :email %>
				</div>
				<div>
					<%= f.label :password %>
					<%= f.password_field :password %>
				</div>
				<div>
					<%= f.label :password_confirmation, "Confirm Password" %>
					<%= f.password_field :password_confirmation %>
				</div>
				<div>
					<%= f.submit "Sign up", class: "blue" %>
				</div>
			<% end %>
		</div>
	</div>
</div>