<div class="row">
	<div class="col w30">
		<h2>Profile</h2>
		<%= form_for(@api_user) do |f| %>
			<%= render 'shared/form_errors', object: f.object %>
			<div class="block-form">
				<%= f.label :first_name %>
				<%= f.text_field :first_name %>
			</div>
			<div class="block-form">
				<%= f.label :last_name %>
				<%= f.text_field :last_name %>
			</div>
			<div class="block-form">
				<%= f.label :email %>
				<%= f.email_field :email %>
			</div>
			<div class="block-form">
				<%= f.label :password %>
				<%= f.password_field :password %>
			</div>
			<div class="block-form">
				<%= f.label :password_confirmation, "Confirm Password" %>
				<%= f.password_field :password_confirmation %>
			</div>
			<div>
				<%= f.submit "Save profile", class: "blue" %>
			</div>
		<% end %>
	</div>
	
	<div class="col w5">&nbsp;</div>
	
	<div class="col w60">
		<h2>Applications</h2>
		<p>
			<%= link_to('New Application', new_api_application_path, :class => 'button button-green') %>
		</p>
		<% current_api_user.api_applications.each do |app| %>
			<div class="row">
				<div class="col w25">
					<span>
						<%= link_to app.name, api_application_path(app.id) %>
					</span>
				</div>
				
				<div class="col w75">
					<% if !app.api_key.nil? %>
						<% if app.api_key.revoked? %>
							<span class="bg-red"><%= app.api_key.key %> (revoked)</span>
						<% else %>
							app.api_key.key
						<% end %>
					<% else %>
						No API-key
					<% end %>
				</div>
			</div>
		<% end %>
	</div>
</div>