<div class="row">
	<div class="col w10">&nbsp;</div>
	<div class="col w30">
		<h2>Profile</h2>
		<%= form_for(@api_user) do |f| %>
			<%= render 'shared/form_errors', object: f.object %>
			<div class="block-form">
				<%= f.label :first_name %>
				<%= f.text_field :first_name %>
			</div>
			<div class="block-form">
				<%= f.label :last_name %>
				<%= f.text_field :last_name %>
			</div>
			<div class="block-form">
				<%= f.label :email %>
				<%= f.email_field :email %>
			</div>
			<div class="block-form">
				<%= f.label :password %>
				<%= f.password_field :password %>
			</div>
			<div class="block-form">
				<%= f.label :password_confirmation, "Confirm Password" %>
				<%= f.password_field :password_confirmation %>
			</div>
			<div>
				<%= f.submit "Save profile", class: "blue" %>
			</div>
		<% end %>
	</div>
	<div class="col w10">&nbsp;</div>
	<div class="col w50">
		<h2>Applications</h2>
		<%= link_to('New Application', new_api_user_api_application_path(current_api_user.id), :class => 'button button-green') %>	
	</div>
</div>