<div class="block-form">
	<%= form_for [@api_user, @api_app] do |f| %>
		<div>
			<%= f.label :name %>
			<%= f.text_field :name %>
		</div>
		<div>
			<%= f.label :description %>
			<%= f.text_area :description %>
		</div>
		<div>
			<%= f.submit "Sign up", class: "blue" %>
		</div>
	<% end %>
</div>